.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar {
  padding: 0rem 1rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  gap: 1rem;
}

.buttongroup {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
